{% extends "base.html" %}

{% block content %}

<h1>
    Chat with {{ other_user.username }}
</h1>

<hr>

{% for message in messages %}

<p>

    <strong>
        {{ message.sender.username }}
    </strong>

    :

    {{ message.content }}

</p>

{% empty %}

<p>No messages yet.</p>

{% endfor %}

<hr>

<form method="POST">

    {% csrf_token %}

    <input
        type="text"
        name="content"
        placeholder="Type message..."
    >

    <button type="submit">
        Send
    </button>

</form>
{% endblock %}